{% load staticfiles %}
<html>
<head>
    <title>SA2C HPC Clinic</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<div class="content container">
<div class="page-header">
<h1>HPC Clinic Topics</h1>
</div>
{% if topic_list %}
  <div class="table-responsive">
  <table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Votes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topic_list %}
    <tr>
      <td>{{ topic.title }}</td>
      <td>{{ topic.description }}</td>
      <td>{{ topic.votes }}</td>
      <td>
        {% if can_vote %}
        <form action="{% url 'poll:vote' topic.id %}" method="post">
      {% csrf_token %}
          <input type="submit" name="vote" id="vote {{topic.id}}" value="Vote" />
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% if not can_vote %}
  <form action="{% url 'poll:undo_vote' %}" method="post">
{% csrf_token %}
    <input type="submit" name="undo" id="undo" value="Undo Vote" />
  </form>
  {% endif %}
  </div>
{% else %}
    <p>No topics are available.</p>
{% endif %}
</div>

<//html>
